<template>
    <div id="app">
        <nav-bar/>
        <b-container fluid>
            <router-view/>
        </b-container>
    </div>
</template>

<script>
    import NavBar from "./components/NavBar";
    import Error from "./components/Error";

    export default {
        components: {
            NavBar,
            Error
        }
    };
</script>

<style lang="scss">

    @import "assets/_custom.scss";
    @import "~bootstrap/scss/bootstrap.scss";
    @import '~bootstrap-vue/dist/bootstrap-vue.css';

    .bg-white {
        background-color: white;
    }

</style>
