<template>
<b-row >
    <b-col cols="12" v-for="conversation in conversations" class="bg-white mb-3 py-2 d-flex align-items-center">
        <h6 class="mr-3">Members: </h6>
        <div v-for="user in conversation.systemUsers" class="d-flex align-items-center flex-column text-center mr-2">
            <b-img :src="user.picture" width="35" rounded="circle"/>
            <small>{{user.given_name}}</small>
        </div>
        <b-icon-caret-right class="ml-auto h2" variant="primary" @click="() => openConversation(conversation.id)"></b-icon-caret-right>
    </b-col>
</b-row>
</template>


<script>
    import MessageRepository from "../repository/MessageRepository";

    export default {
        name: "Conversations",
        data() {
            return {
                conversations: null
            }
        },
        methods: {
            async fetch() {
                let accessToken = await this.$auth.getTokenSilently();
                const {data} = await MessageRepository.getConversations(accessToken);
                this.conversations = data;
            },
            openConversation(conversationId){
                this.$router.push(`/chat/${conversationId}`);
            }
        },
        async created() {
            this.fetch();
        }
    };
</script>

<style>

</style>
