<template>
    <v-select @search="searchDestination" v-model="destination" :options="destinations" :filterable="false"
              label="city">
        <template slot="no-options">
            Type to search destination...
        </template>
        <template slot="option" slot-scope="option">
            <b-img :src="`https://hatscripts.github.io/circle-flags/flags/${option.country.abbreviation.toLowerCase()}.svg`"
                   class="mr-3" width="25"/>
            {{ option.city }}, {{option.country.name}}
        </template>
        <template slot="selected-option" slot-scope="option">
            <b-img :src="`https://hatscripts.github.io/circle-flags/flags/${option.country.abbreviation.toLowerCase()}.svg`"
                   class="mr-3" width="25"/>
            {{ option.city }}, {{option.country.name}}
        </template>
    </v-select>
</template>

<script>
    import DestinationRepository from "../repository/DestinationRepository";

    export default {
        name: "DestinationSelect",
        props: {
            value: Object
        },
        data() {
            return {
                destination: null,
                destinations: [],
                date: null,
            }
        },
        methods:{
            async searchDestination(search, loading) {
                if (search.length == 0)
                    return;

                loading(true);

                let accessToken = await this.$auth.getTokenSilently();

                let {data} = await DestinationRepository.autocompleteDestination(search, accessToken);

                this.destinations = data;
                loading(false);
            },
            updateValue: function (value) {
                this.$emit('input', value)
            }
        },
        created() {
            this.destination = this.value;

            this.$watch("destination", value => {
                this.$emit("input", value);
            });
        }
    }
</script>

<style scoped>

</style>
