<template>
    <b-col cols="12" class="bg-white mb-3 py-2">
        <h4>{{event.destination.city}}, {{event.destination.country.name}}</h4>
        <h6>{{formatDate(event.fromDate)}} - {{formatDate(event.toDate)}}</h6>
        <div class="border-bottom border-primary mx-2 my-2"></div>
        <div class="d-flex align-items-center">
            <span class="mr-2">By:</span>
            <div class="d-flex align-items-center flex-column mr-1">
                <b-img :src="event.author.picture" width="35" rounded="circle"/>
                <small>{{event.author.given_name}}</small>
            </div>
            <span class="ml-4 mr-2" v-if="event.participants.length">Buddies:</span>

            <div v-for="participant in event.participants" class="d-flex align-items-center flex-column mr-5">
                <b-img :src="participant.picture" width="35" rounded="circle"/>
                <small>{{participant.given_name}}</small>
            </div>
            <router-link class="ml-auto h2" :to="`/events/${event.id}`">
                <b-icon-caret-right  variant="primary"></b-icon-caret-right>
            </router-link>
        </div>
    </b-col>
</template>

<script>
    export default {
        name: "TripCard",
        props: ["event"],
        methods: {
            formatDate(date) {
                var d = new Date(date),
                    month = '' + (d.getMonth() + 1),
                    day = '' + d.getDate(),
                    year = d.getFullYear();

                if (month.length < 2)
                    month = '0' + month;
                if (day.length < 2)
                    day = '0' + day;

                return [year, month, day].join('-');
            }
        }
    }
</script>

