<template>
    <div>
        <b-row class="bg-white">
            <b-col>
                <h2 class="mt-2">Welcome back {{$auth.user.given_name}}!</h2>
                <h5 class="text-right">Are you ready for next adveture?</h5>
            </b-col>
        </b-row>
        <b-row class="mt-4">
            <b-col>
                <h3>Upcoming trips</h3>
                <upcoming-trips/>
            </b-col>
        </b-row>
        <b-row class="mt-4">
            <b-col>
                <h3>Buddies</h3>
                <my-buddies/>
            </b-col>
        </b-row>
    </div>
</template>

<script>
    import UpcomingTrips from "../components/UpcomingTrips";
    import MyBuddies from "../components/MyBuddies";

    export default {
        name: "HomeContent",
        components: {
            UpcomingTrips,
            MyBuddies
        },
        methods: {}
    };
</script>
