<template>
<b-row class="bg-white py-4 d-flex justify-content-center">
    <div v-for="friend in friends" class="d-flex align-items-center flex-column mx-1">
        <b-img :src="friend.picture" width="35" rounded="circle"/>
        <small>{{friend.given_name}}</small>
    </div>
</b-row>
</template>


<script>
    import UserRepository from "../repository/UserRepository";

    export default {
        name: "MyBuddies",
        data() {
            return {
                friends: null
            }
        },
        methods: {
            async fetch() {
                let accessToken = await this.$auth.getTokenSilently();
                const {data} = await UserRepository.getFriends(accessToken);
                this.friends = data;
            }
        },
        async created() {
            this.fetch();
        }
    };
</script>

<style>

</style>
