<template>
    <div>
        <b-navbar toggleable="lg" type="dark" variant="primary">
            <b-navbar-brand href="/">Travel-buddies</b-navbar-brand>

            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

            <b-collapse id="nav-collapse" is-nav>
                <b-navbar-nav>
                    <b-nav-item to="/">Home</b-nav-item>
                    <b-nav-item to="/add-friend">Add friend</b-nav-item>
                    <b-nav-item to="/chat">Chat</b-nav-item>
                    <b-nav-item to="/new-event">Plan trip</b-nav-item>
                    <b-nav-item to="/search">Search</b-nav-item>
                    <b-nav-item to="/map">Map</b-nav-item>

                </b-navbar-nav>

                <!-- Right aligned nav items -->
                <b-navbar-nav class="ml-auto">
                    <b-nav-item-dropdown right>
                        <!-- Using 'button-content' slot -->
                        <template v-slot:button-content>
                           <b-img :src="$auth.user.picture" width="35" class="mr-2" rounded="circle"/>{{$auth.user.name}}
                        </template>
                        <b-dropdown-item to="/profile">Profile</b-dropdown-item>
                        <b-dropdown-item href="#" @click="logout">Sign Out</b-dropdown-item>
                    </b-nav-item-dropdown>
                </b-navbar-nav>
            </b-collapse>
        </b-navbar>
    </div>
</template>


<script>
    export default {
        name: "NavBar",
        methods: {
            login() {
                this.$auth.loginWithRedirect();
            },
            logout() {
                this.$auth.logout();
                this.$push({path: "/"});
            }
        }
    };
</script>

<style>

</style>
