<template>
    <b-form @submit="search">
        <b-form-group
                id="input-group-destination"
                label="Where?"
                label-for="input-destination">
            <destination-select v-model="destination"></destination-select>
        </b-form-group>

        <b-form-group
                id="input-group-date"
                label="When?"
                label-for="input-date">
            <b-form-datepicker
                    id="input-destination"
                    type="text"
                    required
                    list="input-destination-list"
                    value-as-date
                    v-model="date"></b-form-datepicker>
        </b-form-group>

        <b-button size="lg" class="mx-auto d-block w-75 mt-5" variant="primary" type="submit">Search
        </b-button>

    </b-form>
</template>

<script>
    import DestinationSelect from "./DestinationSelect";
    import EventRepository from "../repository/EventRepository";

    export default {
        name: "SearchForm",
        components:{
            DestinationSelect
        },
        data() {
            return {
                destination: null,
                date: null,
            }
        },
        methods: {
            async search(evt) {
                evt.preventDefault();

                let accessToken = await this.$auth.getTokenSilently();

                let searchObject = {
                    destination: this.destination,
                    year: this.date.getFullYear(),
                    month: this.date.getMonth(),
                    day: this.date.getDate(),
                    rangeInDays: 5
                };

                console.log(searchObject);

                let {data} = await EventRepository.searchEvents(searchObject, accessToken);

                this.$emit("onsearchcomplete", data);
            }
        }
    }
</script>

<style scoped>

</style>
