<template>
    <div>
        <b-row>
            <event-card v-for="event in events" :event="event"></event-card>
        </b-row>
    </div>
</template>


<script>
    import EventRepository from "../repository/EventRepository";

    import EventCard from "./EventCard";

    export default {
        name: "UpcomingTrips",
        components: {
          EventCard
        },
        data() {
            return {
                events: null
            }
        },
        methods: {
            async fetch() {
                let accessToken = await this.$auth.getTokenSilently();
                const {data} = await EventRepository.upcomingEvents(accessToken);
                this.events = data;
            },
        },
        async created() {
            this.fetch();
        }
    };
</script>

<style>

</style>
