<template>
    <div>
        <b-row class="bg-white shadow py-2">
            <b-col>
                <h2 class="display-4  text-primary">Find buddy</h2>
                <div class="d-flex">
                    <b-input v-model="searchQuery" min="1" max="50"
                             @keyup.enter.native="sendMessage"></b-input>
                    <b-button variant="primary" class="mx-1" @click="search" v-if="searchQuery.length>0">
                        <b-icon-search></b-icon-search>
                    </b-button>
                </div>
            </b-col>
        </b-row>
        <b-row>
            <b-col v-for="user in users" class="d-flex align-items-center bg-white  py-2 my-1" cols="12">
                <b-img :src="user.picture" width="35" class="img-fluid mr-2" rounded="circle"/>
                <h5>{{user.name}}</h5>
                <b-button v-if="!userFriends.map(x => x.sub).includes(user.sub)" variant="primary" @click="addFriend(user.sub)" class="ml-auto" >
                    <b-icon-person-plus></b-icon-person-plus>
                </b-button>
            </b-col>
        </b-row>
    </div>
</template>

<script>

    import UserRepository from "../repository/UserRepository";

    export default {
        name: "add-friend",
        components: {},
        data() {
            return {
                searchQuery: "",
                users: [],
                userFriends: []
            }
        },
        methods: {
            async fetch() {
                let accessToken = await this.$auth.getTokenSilently();
                const {data} = await UserRepository.getFriends( accessToken);

                this.userFriends = data;
            },
            async search() {
                let accessToken = await this.$auth.getTokenSilently();
                const {data} = await UserRepository.searchUsers(this.searchQuery, accessToken);

                this.users = data;
            },
            async addFriend(userId){
                let accessToken = await this.$auth.getTokenSilently();
                await UserRepository.addFriend(userId, accessToken);
            }
        },
        created() {
            this.fetch();
        }

    }
</script>

<style>

</style>
