<template>
    <div>
        <b-row class="bg-white shadow">
            <b-col>
                <h1 class="display-4 text-primary mb-5">Add visited country</h1>
                <label>Country</label>
                <v-select v-if="countries" :options="countries" label="name" :reduce="country => country.id" v-model="countryId" class="mb-5">
                        <template v-slot:option="option">
                            <b-img :src="`https://hatscripts.github.io/circle-flags/flags/${option.abbreviation.toLowerCase()}.svg`"
                                   class="mr-3" width="25"/>
                            {{ option.name }}
                        </template>
                </v-select>
                <b-button variant="primary" class="w-75 d-block my-5 mx-auto" @click="addVisitedCountry">Add</b-button>
            </b-col>
        </b-row>
    </div>
</template>

<script>
    import UserRepository from "../repository/UserRepository";
    import "vue-select/dist/vue-select.css";

    export default {
        name: "add-visited-country",
        components: {},
        data() {
            return {
                countries: null,
                countryId: null,
            }
        },
        methods: {
            async fetch() {
                let accessToken = await this.$auth.getTokenSilently();
                const {data} = await UserRepository.getAllCountries(accessToken);

                console.log(data);
               this.countries = data;
            },
            async addVisitedCountry() {
                let accessToken = await this.$auth.getTokenSilently();
                const {data} = await UserRepository.addVisitedCountry(this.countryId,accessToken);

                console.log(data);
                this.countries = data;

                await this.$router.push("/map");
            }
        },
        async created() {
            this.fetch();
        }
    };
</script>


