<template>
    <div>
        <b-row class="bg-white shadow">
            <b-col>
                <h1 class="display-4 text-primary">Conversations</h1>
            </b-col>
        </b-row>
        <conversations/>
        <router-link to="/new-chat">
            <b-icon-plus-circle-fill class="h1 add-friend" variant="primary"></b-icon-plus-circle-fill>
        </router-link>
    </div>
</template>

<script>
    import Conversations from "../components/Conversations";

    export default {
        name: "chat",
        components: {
            Conversations
        }
    };
</script>

<style>
    .add-friend {
        position: fixed;
        right: 5%;
        bottom: 2%;
    }
</style>
