<template>
    <div>
        <b-row id="message-container" class="mb-5" @aft>
            <b-col cols="12" v-for="message in messages"
                   :class="`d-flex align-items-center bg-white py-2 ${(message.systemUser.sub == $auth.user.sub) ? 'flex-row-reverse' : ''}`">
                <div class="d-flex align-items-center flex-column text-center mx-1">
                    <b-img :src="message.systemUser.picture" width="50" rounded="circle"/>
                    <small>{{message.systemUser.given_name}}</small>
                </div>
                <small class="mx-1">{{new Date(message.timestamp).getHours()}}:{{new
                    Date(message.timestamp).getMinutes()}}</small>
                <span>{{message.content}}</span>
            </b-col>
        </b-row>

        <div class="new-message">
            <b-input v-model="newMessage" class="mx-1" min="1" max="512" @keyup.enter.native="sendMessage"></b-input>
            <b-button variant="primary" class="mx-1" @click="sendMessage" v-if="newMessage.length>0">
                <b-icon-chat></b-icon-chat>
            </b-button>
        </div>

    </div>
</template>

<script>

    import MessageRepository from "../repository/MessageRepository";

    export default {
        name: "Conversation",
        data() {
            return {
                conversationId: this.$route.params.conversationId,
                messages: null,
                newMessage: "",
                updateTimer: null
            }
        },
        methods: {
            async fetch() {
                let accessToken = await this.$auth.getTokenSilently();
                const {data} = await MessageRepository.getConversation(this.conversationId, accessToken);

                this.messages = data;
            },
            async sendMessage() {
                let messageContent = this.newMessage;
                this.newMessage = "";
                let accessToken = await this.$auth.getTokenSilently();
                console.log(this.newMessage);
                const {data} = await MessageRepository.sendMessage(this.conversationId, messageContent, accessToken);

                this.fetch();
            },
            scrollToBottom() {
                let container = this.$el.querySelector("#message-container");
                container.scrollTop = container.scrollHeight;
            }
        },
        updated() {
            this.scrollToBottom();
        },
        async created() {
            this.fetch();
            this.updateTimer = setInterval(this.fetch, 10000);
        },
        beforeDestroy() {
            clearInterval(this.updateTimer)
        }
    };
</script>

<style lang="scss">
    #message-container {
        height: 87vh;
        overflow-y: scroll;
    }

    .new-message {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
        display: flex;
        align-items: center;
        padding: 0.5rem 0;
        background-color: white;
    }
</style>
