<template>
    <div>
        <b-row>
            <b-col>
                <div class="d-flex align-items-center">
                    <b-img :src="`https://hatscripts.github.io/circle-flags/flags/${event.destination.country.abbreviation.toLowerCase()}.svg`"
                           class="mr-3" width="50"/>
                    <h3 class="display-4 text-primary">{{event.destination.city}}</h3>
                </div>
                <h4>{{event.destination.country.name}}</h4>
                <h5 class="mt-2">Date: {{formatDate(event.fromDate)}} - {{formatDate(event.toDate)}}</h5>
                <h4 class="text-primary mt-3">Description</h4>
                <hr>
                <p>{{event.description}}</p>
                <h4 class="text-primary mt-3">Buddies</h4>
                <hr>
                <h5 v-if="event.participants.length == 0">No one has joined yet.</h5>
                <div v-for="participant in event.participants" class="d-flex align-items-center my-1">
                    <b-img :src="participant.picture"
                           class="mr-3" width="50" rounded="circle"/>
                    <h6>{{participant.name}}</h6>
                </div>
                <h4 class="text-primary mt-3">Author</h4>
                <hr>
                <div class="d-flex align-items-center">
                    <b-img :src="event.author.picture"
                           class="mr-3" width="50" rounded="circle"/>
                    <h6>{{event.author.name}}</h6>
                </div>
                <b-button v-if="!event.participants.map(x => x.sub).includes($auth.user.sub) && event.author.sub!=$auth.user.sub" variant="primary"
                          size="lg" class="w-75 mt-5 d-block mx-auto" @click="join">Join
                </b-button>
            </b-col>
        </b-row>
    </div>
</template>

<script>
    import EventRepository from "../repository/EventRepository";

    export default {
        name: "event",
        components: {},
        data() {
            return {
                eventId: this.$route.params.eventId,
                event: null
            }
        },
        methods: {
            async fetch() {
                let accessToken = await this.$auth.getTokenSilently();
                const {data} = await EventRepository.getEvent(this.eventId, accessToken);

                this.event = data;
            },
            async join() {
                let accessToken = await this.$auth.getTokenSilently();
                await EventRepository.attendEvent(this.eventId, accessToken);

                this.$router.go();
            },
            formatDate(date) {
                let d = new Date(date),
                    month = '' + (d.getMonth() + 1),
                    day = '' + d.getDate(),
                    year = d.getFullYear();

                if (month.length < 2)
                    month = '0' + month;
                if (day.length < 2)
                    day = '0' + day;

                return [year, month, day].join('-');
            }
        },
        created() {
            this.fetch();
        }
    }
</script>

<style>

</style>
