<template>
    <b-row>
        <b-col cols="10" offset="1" class="login-col">
            <img class="img-fluid my-5" src="../assets/logo.png" alt="">
            <b-button class="w-100" variant="primary" @click="login">Login</b-button>
        </b-col>
    </b-row>
</template>

<script>
    export default {
        name: "login",
        methods: {
            login() {
                this.$auth.loginWithRedirect();
            }
        }
    };
</script>

<style lang="scss" scoped>
    .login-col {
        padding-top: 14rem;
    }
</style>
