<template>
    <div>
        <b-row>
            <b-col cols="12" class="bg-white border-bottom border-primary">
                <object id="world-map" class="img-fluid d-block mx-auto" type="image/svg+xml" :data="mapSrc"/>
            </b-col>
            <b-col>
                <b-row>
                    <b-col cols="12" class="my-2"><h6>Visited countries</h6></b-col>
                </b-row>

                <b-row v-for="country in visitedCountries">
                    <b-col cols="12" v-b-toggle="'collapse-' + country.abbreviation"
                           class="bg-white py-2 d-flex align-items-center mt-2 shadow">
                        <b-img :src="`https://hatscripts.github.io/circle-flags/flags/${country.abbreviation.toLowerCase()}.svg`"
                               class="mr-3" width="48"/>
                        <h4 class="mb-0">{{country.name}}</h4>
                    </b-col>

                    <b-collapse :id="`collapse-${country.abbreviation}`" class="col-12 bg-white">
                        <hr>
                        <b-row>
                            <b-col cols="6" md="4">
                                <h6>Capital city</h6>
                                <p>{{country.capital_city}}</p>
                                <h6>Official language</h6>
                                <p>{{country.lang_name}}</p>
                                <h6>Demonym</h6>
                                <p>{{country.country_demonym}}</p>
                            </b-col>
                            <b-col cols="6" md="4">
                                <h6>Total area</h6>
                                <p>{{country.total_area}} km<sup>2</sup></p>
                                <h6>Population</h6>
                                <p>{{country.population}}</p>
                            </b-col>
                            <b-col cols="6" md="4">
                                <h6>Currency name</h6>
                                <p>{{country.currency_name}}</p>
                                <h6>Currency symbol</h6>
                                <p>{{country.currency_symbol}}</p>
                            </b-col>
                        </b-row>
                    </b-collapse>
                </b-row>

            </b-col>
        </b-row>
        <router-link to="/add-visited-country">
            <b-icon-plus-circle-fill class="h1 add-friend" variant="primary"></b-icon-plus-circle-fill>
        </router-link>
    </div>
</template>

<script>


    import UserRepository from "../repository/UserRepository";

    export default {
        name: "maps",
        components: {},
        data() {
            return {
                visitedCountries: null,
                mapSrc: require("../assets/map.svg"),
                detailedCountryId: null
            }
        },
        methods: {
            async fetch() {
                let accessToken = await this.$auth.getTokenSilently();
                const {data} = await UserRepository.getVisitedCountries(accessToken);

                this.visitedCountries = data;

                await this.markVisited();
            },
            async markVisited() {
                console.log(this.visitedCountries);
                this.visitedCountries.forEach((country) => {
                    let code = country.abbreviation.toLowerCase();
                    this.$el.querySelector("#world-map").getSVGDocument().getElementById(code).setAttribute("fill", "#56DB1F");
                });

            }, toggleDetail(country) {
                this.detailedCountryId = country.id;
            }
        },
        async created() {
            this.fetch();
        }
    };
</script>

<style>
    .add-friend {
        position: fixed;
        right: 5%;
        bottom: 2%;
    }
</style>
