<template>
    <div>
        <b-row class="my-2">
            <b-col cols="12">
                <h3>Select buddies</h3>
            </b-col>
        </b-row>
        <b-row>
            <b-col cols="12" v-for="friend in friends" class="bg-white mb-3 py-2 d-flex align-items-center">
                <b-img :src="friend.picture" width="35" class="mr-4" rounded="circle" alt="Friend image"/>
                <span>{{friend.name}}</span>
                <b-checkbox size="lg" class="ml-auto" v-model="friend.selected"></b-checkbox>
            </b-col>
        </b-row>

        <b-button variant="primary" class="d-block mx-auto" @click="createConversation">Create conversation</b-button>
    </div>
</template>

<script>

    import UserRepository from "../repository/UserRepository";
    import MessageRepository from "../repository/MessageRepository";
    export default {
        name: "NewChat",
        data() {
            return {
                friends: null,
            }
        },
        methods: {
            async fetchFriends() {
                let accessToken = await this.$auth.getTokenSilently();
                const {data} = await UserRepository.getFriends(accessToken);

                for (let i = 0; i < data.length; i++) {
                    data[i].selected = false;
                }

                this.friends = data;
            },
            async createConversation() {
                let accessToken = await this.$auth.getTokenSilently();

                let chatUsers = this.friends.filter((friend) => {
                    return friend.selected;
                });

                await MessageRepository.createConversation(chatUsers, accessToken);
                await this.$router.push('chat');
            }
        },
        async created() {
            this.fetchFriends();
        }
    };
</script>

<style>

</style>
