<template>
    <div>
        <b-row class="bg-white shadow">
            <b-col>
                <h2 class="display-4  text-primary">Find trip!</h2>
            </b-col>
        </b-row>
        <b-row class="bg-white mt-5 py-4">
            <b-col>
                <b-form @submit="create">
                    <b-form-group
                            id="input-group-destination"
                            label="Where?"
                            label-for="input-destination">

                        <destination-select v-model="destination"></destination-select>
                    </b-form-group>

                    <b-form-group
                            id="input-group-dateFrom"
                            label="From"
                            label-for="input-dateFrom">
                        <b-form-datepicker
                                id="input-dateFrom"
                                type="text"
                                required
                                value-as-date
                                v-model="dateFrom"></b-form-datepicker>
                    </b-form-group>

                    <b-form-group
                            id="input-group-dateTo"
                            label="From"
                            label-for="input-dateTo">
                        <b-form-datepicker
                                id="input-dateTo"
                                type="text"
                                required
                                value-as-date
                                :min="dateFrom"
                                v-model="dateTo"></b-form-datepicker>
                    </b-form-group>

                    <b-form-group
                            id="input-group-description"
                            label="Description"
                            label-for="input-description">

                        <b-textarea id="input-description" v-model="description"></b-textarea>
                    </b-form-group>

                    <b-button size="lg" class="mx-auto d-block w-75 mt-5" variant="primary" type="submit">Create
                    </b-button>

                </b-form>
            </b-col>
        </b-row>
    </div>
</template>

<script>
    import DestinationSelect from "../components/DestinationSelect";
    import EventRepository from "../repository/EventRepository";

    export default {
        name: "new-event",
        components: {DestinationSelect},
        data() {
            return {
                destination: null,
                dateFrom: null,
                dateTo: null,
                description: null
            }
        },
        methods: {
            async create(evt) {
                evt.preventDefault();

                let accessToken = await this.$auth.getTokenSilently();

                let eventObject = {
                    description: this.description,
                    fromDate: this.dateFrom,
                    toDate: this.dateTo,
                    destination: this.destination,
                    author: this.$auth.user,
                };

                console.log(eventObject);

                let {data, headers} = await EventRepository.createEvent(eventObject, accessToken);

                console.log(data);
                console.log(headers);

                this.$router.push("/");
            }
        }
    };
</script>
