<template>
  <div>
    <b-row>
      <b-col cols="12" class="bg-white d-flex flex-column align-items-center">
        <b-img :src="this.$auth.user.picture" width="200" rounded="circle" class="mt-5"/>
        <h1 class="display-4 text-center mt-4">{{this.$auth.user.name}}</h1>
        <h2 class="text-center mt-2">{{this.$auth.user.email}}</h2>
      </b-col>
    </b-row>
  </div>
</template>

<script>


export default {
  name: "profile",
  components: {

  }
};
</script>

<style>

</style>
