<template>
    <div>
        <b-row class="bg-white shadow">
            <b-col>
                <h2 class="display-4  text-primary">Find trip!</h2>
            </b-col>
        </b-row>
        <b-row class="bg-white mt-5 py-4" v-if="!searchCompleted">
            <b-col>
                <search-form @onsearchcomplete="searchComplete"></search-form>
            </b-col>
        </b-row>
        <b-row class="bg-white mt-5 py-4" v-if="searchCompleted">
            <event-card v-for="event in searchResult" :event="event"></event-card>
        </b-row>
    </div>
</template>

<script>

    import SearchForm from "../components/SearchForm";
    import EventCard from "../components/EventCard";

    export default {
        name: "search",
        components: {SearchForm, EventCard},
        data() {
            return {
                searchResult: null,
                searchCompleted: false
            }
        },
        methods: {
            searchComplete(value) {
                this.searchResult = value;
                this.searchCompleted = true;
            }
        }
    };
</script>
